<!DOCTYPE html>

<html>
    <head>
        <title>music</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div>
            Привет, Друзья!
        </div>
        <br />
        <form method="POST" enctype="multipart/form-data" action="/add">
            <label>Киирери:</label>
            <input name="file" type="file" accept=".mp3">
            <button type="submit">Базар</button>
        </form>
        <br />
        <div id="list">
            list unavailable
        </div>
        <br />
       
        <script>
            $(document).ready(function () {
                $.get('all', function (data) {
                    console.log(data);
                    let table = "<table><tr><th>Songs</th><th>Player</th></tr>";
                    for(let i=0; i<data.length; i++){
                        table =table + "<tr><td>"+data[i].id+"</td><td>"+"<audio src=\"../"+data[i].id+"\" controls></audio>"+"</td></tr>";
                        
                    }
                    table=table+"</table>";
                    $('#list').html(table);
                });
            });

        </script>

    </body>
</html>
